<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <script src="../plugins/echarts/echarts.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../plugins/healthmobile.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>

</head>
<body>
<div class="content-header">
    <h1>传智健康
        <small>密码修改</small>
    </h1>
    <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>传智健康</el-breadcrumb-item>
        <el-breadcrumb-item>密码修改</el-breadcrumb-item>
    </el-breadcrumb>
</div>
<hr>
<div id="app" style="padding-top: 200px;padding-left: 550px">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

        <!--忘记密码?点击之后输入手机号,随机发一个新的密码,用户用该密码登录后再进行修改密码操作-->
        <el-row>
            <el-col :span="8">
                <el-form-item label="手机号" prop="originalPass">
                    <!--<el-input v-model.number="ruleForm.originalPass" placeholder="请输入您的原始密码"></el-input>-->
                    <!--<el-input type="password" v-model="ruleForm.originalPass" autocomplete="off"
                              placeholder="请输入您的原始密码"></el-input>-->

                    <el-input v-model="ruleForm.originalPass" type="text" class="input-clear"
                              placeholder="请输入注册时的手机号"></el-input>
                    <input  id="validateCodeButton" @click="sendValidateCode()" type="button"
                           value="发送验证码">
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="验证码"  prop="validateCode">
                    <el-input v-model="ruleForm.validateCode" type="text" class="input-clear" placeholder="请输入验证码"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="新密码" prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" autocomplete="off"
                              placeholder="请输入修改后的密码"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="确认密码" prop="checkPass">
                    <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"
                              placeholder="请再次输入密码"></el-input>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-row>
    </el-form>
</div>

</body>

<script>

    // Vue.config.productionTip = false
    new Vue({
        el: "#app",
        data: {
            ruleForm: {
                pass: '',
                checkPass: '',
                originalPass: '',
                validateCode:''
            },
        },
        data() {
            var checkAge = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('手机号码不能为空'));
                } else {
                    callback();
                }
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var checkvalidateCode = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('验证码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                ruleForm: {
                    pass: '',
                    checkPass: '',
                    originalPass: '',
                    validateCode:''
                },
                rules: {
                    pass: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    checkPass: [
                        {validator: validatePass2, trigger: 'blur'}
                    ],
                    originalPass: [
                        {validator: checkAge, trigger: 'blur'}
                    ],
                    validateCode: [
                        {validator: checkvalidateCode, trigger: 'blur'}
                    ]
                }
            };
        },


        methods: {
            //发送验证码
            sendValidateCode(){
                //获取用户输入的手机号
                var telephone = this.ruleForm.originalPass;
                //校验手机号输入是否正确
                if (!checkTelephone(telephone)) {
                    this.$message.error('请输入正确的手机号');
                    return false;
                }
                validateCodeButton = $("#validateCodeButton")[0];
                clock = window.setInterval(doLoop, 1000); //一秒执行一次
                axios.post("/validateCodeWeb/send4ModifyPass.do?telephone=" + telephone).then((response) => {
                    if(!response.data.flag){
                        //验证码发送失败
                        this.$message.error('验证码发送失败，请检查手机号输入是否正确');
                    }
                });
            },


            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/user/passwordModify.do?pass=" + this.ruleForm.pass + "&originalPass=" + this.ruleForm.originalPass+"&validateCode="+this.ruleForm.validateCode).then(response => {
                            this.$message({
                                message: response.data.message,
                                type: response.data.flag ? 'success' : 'error'
                            });
                            location.href = "/pages/main.html";
                        })

                    } else {
                        console.log('信息填写有误!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })

</script>

</html>